.navbar {
  flex: none;
  width: 100vw;
  height: 3em;
  display: flex;
  padding: 0.5em;
  border-bottom: 2px solid #A78F5C;
}

.navbar-brand-container {
  display: flex;
  height: 100%;
  margin-left: 1em;
  align-items: center;
}

.brand-image {
  width: auto;
  height: 100%;
}
.brand-image:hover {
  animation: spin 2s cubic-bezier(0.6, -0.28, 0.9, 0.16) infinite both;
}
@keyframes spin {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}

.brand-name {
  margin: 0 0.5em;
  font-size: 1.25em;
  color: #E1E6E1;
}

@media screen and (max-width: 800px) {
  .navbar {
    height: 2em;
    padding: 5px;
  }
  .navbar-brand-container {
    margin-left: 10px;
  }
  .brand-name {
    font-size: 1em;
  }
}

.navbar > .nav-link-container-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link-container {
  display: flex;
  justify-content: space-between;
}

.active-nav-link {
  display: none;
}

.nav-link-container > .navbar-link {
  width: 100px;
  height: 35px;
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 300;
  color: #E1E6E1;
  text-align: center;
  margin-left: auto;
}

.nav-link-container > .logout-button:hover {
  color: #A78F5C;
  border-color: #A78F5C;
}

.nav-link-container > .navbar-link-action {
  background-color: #9A8458;
}

.nav-link-container > .navbar-link-action:hover,
.nav-link-container > .navbar-link-action:focus,
.nav-link-container > .navbar-link-action:active {
  background-color: #A78F5C;
}
