.navbar {
  flex: none;
  width: 100vw;
  height: 3em;
  display: flex;
  padding: 0.5em;
  border-bottom: 2px solid #A78F5C;
}

.navbar-brand-container {
  display: flex;
  height: 100%;
  margin-left: 1em;
  align-items: center;
}

.brand-image {
  width: auto;
  height: 100%;
}
.brand-image:hover {
  animation: spin 2s cubic-bezier(0.6, -0.28, 0.9, 0.16) infinite both;
}
@keyframes spin {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}

.brand-name {
  margin: 0 0.5em;
  font-size: 1.25em;
  color: #E1E6E1;
}

@media screen and (max-width: 800px) {
  .navbar {
    height: 2em;
    padding: 5px;
  }
  .navbar-brand-container {
    margin-left: 10px;
  }
  .brand-name {
    font-size: 1em;
  }
}

.link-container {
  display: flex;
  justify-content: space-between;
}

.active-nav-link {
  color: red;
}
