.tailRD-app > .chat-app {
  padding: 20px;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.list-container {}

.conversationList-container {}

.messageList-container {}

.chat-list {
  overflow: scroll;
}

.chat-item {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.conversationList {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid;
}

.conversation {
  margin: 5px;
  cursor: pointer;
}

.conversation-active {
  border: 2px solid #A78F5C;
  border-radius: 5px;
  cursor: default;
}

.conversation-participants {
  font-family: 'Playfair_Display';
  font-size: 16px;
  font-weight: 300;
  color: #E1E6E1;
}

.conversation-lastMessageSummary {
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 300;
  color: #E1E6E1;
}

.messageList-messageBox {
  width: 100%;
  height: 100%;
  padding: 15px 15px 0;
  display: flex;
  flex-direction: column;
}

.messageList {
  flex: 1 1 auto;
  padding: 10px;
  border-top: 1px solid;
}

.messageBox {
  height: 75px;
  flex: 0;
}

.message {
  margin-bottom: 15px;
}

.message-float-right {
  text-align: right;
}
.message-header {
  font-family: 'Playfair_Display';
  font-size: 20px;
  font-weight: 300;
  color: #E1E6E1;
}
.message-content {
  background-color: #7C9397;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 400;
  color: #E1E6E1;
  padding: 10px;
  border-radius: 10px;
  max-width: 550px;
}

@media (min-width: ) {
  .message-header {
    font-size: 16px;
  }
  .message-content {
    font-size: 12px;
  }
}

.message-float-left > .message > .message-content {
  margin-right: auto;
  background-color: #A78F5C;
}

.message-float-right > .message > .message-content {
  margin-left: auto;
}

.message-box {
  display: flex;
  align-items: center;
}

.send-message-button {
  cursor: pointer;
  color: #9A8458;
  font-size: 32px;
  margin-left: 10px;
  align-self: flex-end;
}

.send-message-button:hover {
  color: #A78F5C;
}

.cannot-send {
  color: #ccc;
}
.cannot-send:hover {
  color: #ccc;
  cursor: default;
}
